/* Utilizando el selector universal (apunt a a todos)
 para realizar el set de CSS*/
 * {
    /* se eliminan todos los margin por defecto */
    margin: 0;
    /* se eliminan todos los padding por defecto */
    padding: 0; 
    /* se elimina el estilo de las listas */
    list-style-type: none;
    /* el padding y border se consideran para calcular
     el tamaño de la caja */
    box-sizing: border-box;
    /* se elimina el subrayado de los links <a> */
    text-decoration: none
  } 

  :root{
    --presentacion: rgb(26, 97, 91);
    --tecnologias: rgb(28, 32, 92);
    --letras: white;
    --contacto: rgb(59, 64, 136)
  }

  body{
    font-family: 'Rubik';
  }

  .presentacion{
    background-color: var(--presentacion);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--letras);
  }

  .presentacion img{
    width: 40rem;
  }

  .presentacion h1{
    padding-top: 0.5em;
    font-size: 3em;
  }

  .presentacion p{
    font-size: 1.5em;
  }

  .tecnologias{
    height: 100vh;
    background-color: var(--tecnologias);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--letras);
    font-size: 1.5rem;
    gap: 20px;
  }

  .tecnologias img{
    width: 15rem;
  }

  .contacto{
    height: 100vh;
    background-color: var(--contacto);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 2rem;
    align-items: center;
    color: var(--letras);
    font-size: 1.5rem;
  }

  .contacto img{
    width: 15rem;
  }




  @media screen and (max-width: 1440px) {
    .tecnologias img{
        width: 12rem;
      }
    
  }


  @media screen and (max-width: 768px) {

    .presentacion img{
        width: 20rem;
      }
    
      .presentacion h1{
        font-size: 2.5rem;
      }
    
      .presentacion p{
        font-size: 1.5rem;
      }


    
  }

  @media screen and (max-width: 425px) {
    
      .presentacion h1{
        font-size: 1.8rem;
      }
    
      .presentacion p{
        font-size: 1.3rem;
      }
    
  }